.transfer{
    width: 100%;
    padding: 40px;
}
.transfer-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #861F41; 
}
.transfer-body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}