@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'SF Pro Text';
    src: url(./Fonts/FontsFree-Net-SFProText-Regular.ttf);
}
:root{
    --mainbackgroundcolor: #E5E5E5;
    --topbarbackgroundcolor: #424242;
    --textcolor1: #861F41;
    --textcolor2: #C4C4C4;
    --textcolor3: #363636;
    --buttoncolor: #23CB1F;
    --searchbartext:#9B9898;
}
.App{
    display: flex;
    width: 100%;
}
.app-contain{
    width: calc(100% - 300px);
    margin-left: 300px;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
    margin-left: 0px;
}
a{
    text-decoration: none;
}
@media (max-width: 800px){
    .app-contain{
        margin-left: 0px;
        width: 100%;
    }
    .container{
        margin-left: 0px;
    }
}